<%- include('patials/header') -%>
    <div class="container">
        <h1>login</h1>
        <form action="/login" method="post">
            <div class="retistration">
                <input type="email" placeholder="user email" name="username">
                <input type="password" placeholder=" user password" name="password">
            </div>
            
                <button type="submit" name="login">login</button>
        </form>
    </div>

    <div class="google">
        <a href="" role="button"><button>signi up wiht google</button></a>
        
    </div>
    
</body>
</html>