<%- include('patials/header') -%>
    <div class="container">
        <h2>Well come budy on secret page finaly you make it. congs!!!</h2>
        <a href="/logout"><button >logout</button></a>
        <a href="/submit"><button type="submit" name="addSecret">submit secret</button></a>
    </div>
</body>
</html>