<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bracebook</title>
    <link rel="stylesheet" href="compose.css">
    <link rel="stylesheet" href="./fontawesome-free-6.1.2-web/css/all.css">

</head>
<body>
    <div class="outputs">
        <h2>result</h2>
        <%for(let i =0;i< name.length;i++){%>
        <img src="uploaded/<%=name[i]%>" alt="<%=name[i]%>">
        <%}%>
    </div>
</body>
</html>